body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.animate {
    width: 100px; /* Ширина анимации (можете изменить) */
    height: auto; /* Авто-высота, чтобы сохранить пропорции */
    transition: transform 0.2s; /* Плавный поворот */
}

/* Класс для поворота */
.rotate {
    transform: rotate(360deg);
}
