body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Занимает всю высоту окна */
    background-color: #090B1A; /* Устанавливаем черный фон */
    margin: 0; /* Убираем отступы */
}

.animate {
    width: 100px; /* Ширина анимации (можете изменить) */
    height: auto; /* Авто-высота, чтобы сохранить пропорции */
    transition: transform 0.5s; /* Плавный поворот */
}
